/* Existing CSS */
.navbar {
  position: fixed;
  /* position: relative; */
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Change to space-between for better alignment */
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #151925;
  transition: top 0.3s;
  padding: 0 20px; /* Add padding for spacing */
}

.left {
  flex: 1; /* Adjust flex for responsiveness */
  display: flex;
  justify-content: left;
}

.title{
  width: 10rem;
}

.right {
  flex: 1; /* Adjust flex for responsiveness */
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* justify-content: space-between; */
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: transparent;
  border-color: transparent;
  width: 120px;
  height: 30px;
  font-size: 18px;
  color: #03B0FD;
  cursor: pointer;
  position: relative;
  border: none;
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:focus,
.button:hover {
  color: #fff;
}

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

body {
  background-color: #151925;
}

.title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.typewriter {
  --caret: #03B0FD;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: #03B0FD;
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: var(--caret) }
}

/* Responsive CSS */

@media (max-width: 1024px) {
  .right {
    flex: 1; /* Adjust flex for responsiveness */
    display: flex;
    flex-direction: row;
    gap: 0px;
    /* justify-content: space-between; */
  }
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 10px 20px;
  }
  .right {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .right.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
    color: white;
    cursor: pointer;
  }
}