body{
  background-color:  #151925;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  background:  #151925;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  width: 100%;
}

.left{
  width: 40%;
  text-align: start;
}

.left .title {
  width: 120px;
  height: auto;
  margin: 0;
}

.right {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-right: 0rem;
  width: 80%;
}

.button {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.button:hover {
  color: #007bff;
}

.menu-toggle {
  display: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 900px) {
  .right {
    display: flex;
    gap: 3.5rem;
    align-items: center;
    padding-right: 0rem;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .right {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    /* background: white; */
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .right.active {
    display: flex;
    width: 100%;
    background-color: #151925;
  }

  .button {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 1rem;
  }

  .left .title {
    width: 100px;
  }
}