#contact {
  padding: 3rem;
  background: black;
}

.heading {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 6rem;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

.direct-contact-container {
  flex: 1;
  min-width: 300px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-top: 4.5rem;
  color: white;
  font-size: 1.8rem;
}

.list-item svg {
  margin-right: 1rem;
  color: #1fbcff;
}

.contact-text a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-text a:hover {
  color: #03b0fd;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 0;
}

.contact-icon {
  color: white;
  font-size: 2.8rem;
  transition: color 0.3s;
}

.contact-icon:hover {
  color: #03b0fd;
}

hr {
  border-color: rgba(255, 255, 255, 0.429);
  margin: 1.5rem 0;
}

#contact-form {
  flex: 1;
  min-width: 300px;
}

.form-control,
.form-control1 {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  background: #1e2635;
  color: white;
}

.form-control1 {
  resize: vertical;
  min-height: 150px;
}

.send-button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background: #03b0fd;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.send-button:hover {
  background: #0290d1;
}

@media (max-width: 1024px) {
  #contact {
    padding: 3rem;
  }

  .heading {
    font-size: 4rem;
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 4rem;
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .direct-contact-container,
  #contact-form {
    min-width: 100%;
  }

  .list-item {
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
  }

  .social-media-list {
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  #contact {
    padding: 1.5rem;
  }

  .heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .list-item {
    font-size: 1.8rem;
  }

  .social-media-list {
    gap: 2rem;
  }

  .contact-icon {
    font-size: 3rem;
  }

  .form-control,
  .form-control1 {
    padding: 0.8rem;
    font-size: 1.5rem;
  }
}
