/* Base styles */
.heading1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.808);
  margin: 3% 0 3% 0;
}

.why_logo {
  width: 70px;
  height: 70px;
}

.mid_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  margin: 4px 0;
}

.main_text_why {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
  margin: 2px 0;
}

.main_text_why_SPU {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: white;
  margin: 2px 0;
}

.box {
  background-color: #1e2635;
  width: 100%;
  max-width: 300px;
  height: 230px;
  border-radius: 20px;
  margin: 0 2%;
  padding: 20px 15px;
}

.neww {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.modiv {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main_text_why_link {
  color: #03b0fd;
}

.down_gap {
  margin-bottom: 3%;
}

.up_gap {
  margin-top: 10%;
}

/* Responsive breakpoints */
@media (max-width: 1200px) {
  /* .box {
      max-width: 280px;
    } */

  .heading1 {
    font-size: 4rem;
  }

  .mid_text {
    font-size: 26px;
  }

  .neww {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }

  .flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
  }

  .box {
    max-width: 240px;
    height: auto;
    min-height: 210px;
  }
}

@media (max-width: 860px) {
  .flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .box {
    max-width: 90%;
    height: auto;
    min-height: 150px;
    border-radius: 10px;
  }

  .heading1 {
    font-size: 4rem;
    margin: 5% 0 4% 0;
  }

  .mid_text {
    font-size: 24px;
  }

  .why_logo {
    width: 60px;
    height: 60px;
  }

  .modiv {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .heading1 {
    font-size: 3rem;
    margin: 15% 0 5% 0;
  }

  .mid_text {
    font-size: 20px;
  }

  .main_text_why,
  .main_text_why_SPU {
    font-size: 14px;
  }

  .why_logo {
    width: 50px;
    height: 50px;
  }

  .box {
    margin: 0;
    padding: 15px;
  }

  .neww {
    padding: 10px;
  }
}
